name: Gold Shark Runner

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          # تثبيت المكتبات الأساسية أولاً (ومن ضمنها numpy القديم)
          pip install -r requirements.txt
          # تثبيت pandas_ta يدوياً من الرابط المباشر
          pip install https://github.com/twopirllc/pandas-ta/archive/development.zip

      - name: Run Shark Bot
        run: python bot.py
